version: '3.7'
services:
  app:
    build:
      args:
        user: abi
        uid: 1000
      context: ./Docker/
      dockerfile: Dockerfile
    image: exportadms
    networks:
      - database
      - admsexport
    restart: unless-stopped
    working_dir: /var/www/
    volumes:
      - ./:/var/www

  nginx:
    image: nginx:alpine
    container_name: nginx
    restart: unless-stopped
    ports:
      - ${DOCKER_PORT}:80
    networks:
      - proxy
      - admsexport
    volumes:
      - ./:/var/www
      - ./Docker/nginx.conf:/etc/nginx/conf.d/default.conf
networks:
  proxy:
    external: true
  admsexport:
    external: true
  database:
    external: true
