version: "3.7"
services:
  app:
    build:
      args:
        user: abi
        uid: 1000
      context: ./Docker/
      dockerfile: Dockerfile
    image: exportadms
    restart: unless-stopped
    working_dir: /var/www/
    volumes:
      - ./:/var/www

  nginx:
    image: nginx:alpine
    container_name: nginx
    restart: unless-stopped
    ports:
      - 8000:80
    volumes:
      - ./:/var/www
      - ./Docker/nginx.conf:/etc/nginx/conf.d/default.conf
